body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

/*  NOTE: The width ad height settings at 100% ensure total page coverage and is suggested as a good practice */